body {
    text-align: center;
}
p {
    font-size: 22pt;
}
input {
    font-size: 140%;
    margin-bottom: 24px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #444;
    padding: 10px;
    background:#eeeeff;
}
.layer {
    background-color: #c0c0c0;
    width: 49%;
    height: 300px;
    border: 4px double black;
    font-size: large;
    float: left;
}